{# templates/Header/header.html.twig #}

<!DOCTYPE html>
<html style="scroll-behavior: smooth">
<head>
  <title>AginstCOVID-19 - {{ page }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
