{# templates/Body/connectAdmin.html.twig #}

<html lang="fr"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../css/connect.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

    <title>AgainstCOVID-19 - Espace administrateur</title>


  </head>

  <body class="text-center">
    <form method='POST' action='{{ path('connectAdminCheck') }}' class="form-signin">
      <h1 class="h1 mb-3 font-weight-normal">Bienvenue dans l'espace Administrateur</h1>
      <p class="h5 mb-3 font-weight-normal">Ici l'équipe de projet peut consulter beaucoup de choses et peut gérer vos demandes </p>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name='password' type="password" id="inputPassword" class="form-control" placeholder="Mot-de-passe administrateur" required="">
      <button class="btn btn-lg btn-dark btn-block" type="submit">Se connecter</button>
      <p class="mt-5 mb-3">Oups... Vous vous êtes tromper de lien ?</p>
      <a class="badge badge-secondary" href="{{ path('homePage') }}">Cliquez ici pour retourner à la page d'accueil</a>
      <p class="mt-5 mb-3 text-muted">@2020 - AgainstCOVID-19</p>
    </form>
  

</body></html>