{% extends 'base.html.twig' %}
{% block stylesheets %}
	<!-- Compiled and minified CSS -->
	<link
	rel="stylesheet" href="{{ asset('css/contact.css') }}">
	<!-- Compiled and minified JavaScript -->
	<script src="{{ asset('js/jquery.js') }}"></script>
	<script src="{{ asset('js/map.js') }}"></script>
	<!--The callback parameter executes the initMap() function-->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoq3pqBB4rNSPZtWBmRH60T-T-CLr9qWE&callback=initMap"></script>

{% endblock %}

{% block body %}

	<div class='container-fluid'>

		<div class='row'>
            

			<!--<div class='col-2'></div>-->

			<div class='col-6 py-2'>

				<div class="card my-5" style="display: inline-block; width: 100%;">
					<div class="card-header h2">
						Nos Coordonnées
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" style='font-size: 17px'><p class='h5'>Adresse : </p><p class='px-3 py-1'>Campus CESI Toulouse, Batiment Alpha, 16 Rue Magellan, 31670 Labège</p></li>
						<li class="list-group-item" style='font-size: 17px'><p class='h5'>N° Téléphone : </p><p class='px-3'> Gabriel RICARD : 0782360024 </br> Kevin BOURDEAU : 0644760951 </br> Corentin PAUGAM : 0695669002</p></li>
						<li class="list-group-item" style='font-size: 17px'><p class='h5'>E-mail : </p><a  class='px-3' href='mailto:gabriel.ricard@viacesi.fr'>gabriel.ricard@viacesi.fr</a></br><a  class='px-3' href='mailto:kevin.bourdeau@viacesi.fr'>kevin.bourdeau@viacesi.fr</a></br><a  class='px-3' href='mailto:corentin.paugam@viacesi.fr'>corentin.paugam@viacesi.fr</a></li>
					</ul>
				</div>

			</div>

			<div class='col-6'>
				<!--<h3>My Google Maps Demo</h3>-->
				<!--Element div de la map -->
				<div id="map"></div>
			</div>

		</div>

	</div>

{% endblock %}
