{# templates/Body/productPage.html.twig #}

<main role="main">

    <div class="jumbotron">
        <div class="container">
           <h1 class="display-4">Besoin d'un respirateur déployable rapidement</h1>
           <p>
                Notre produit est préparé avec nos petits soins au fab-lab du CESI Labège, les pièces sont imprimées sur mesure en fonction de vos besoins.
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="container col-lg py-5">
                <hr class="featurette-divider">
                <h2>Le masque</h2>
                <p>
                    Nous prenons appui sur un produit déjà existant, le masque de snorkeling en surface EASYBREATH conçu par Décathlon. Il s'agit d'un masque de plongée entièrement
                     impermeable, et permettant à l'utilisateur de respirer à la fois par la bouche et par le nez. Grâce à un partenariat avec Décathlon - Portet-sur-Garonne, nous 
                     avons la possibilité de les transformer en respirateur et de les mettre à disposition des hôpitaux au moindre coût.
                </p>
            </div>
            <div class="py-4">
                <img src="/image/masque.png" style="width: 700px">
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="container col-lg py-5">
                <hr class="featurette-divider">
                <h2>La pièce qui change tous !</h2>
                <p>
                    Afin de transformer le produit original en respirateur, nous avons besoin d'une pièce qui pourrait connecter ce masque au dispositif de respiration. 
                    L'idée est née en Italie, un ingénieur italien a eu la bonne idée de changer l'embout de la maque, qui est censé sortir de l'eau et permettre de faire 
                    respirer son utilisateur. Cet embout est remplacé par une simple pièce imprimée par une imprimante 3D et qui par la suite permet le masque de se connecter au
                     dispositif.
                </p>
            </div>
            <div>
                <img src="/image/piece.jpg" style="width: 700px">
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="container col-lg py-5">
                <hr class="featurette-divider">
                <h2>Un produit adaptatif ?</h2>
                <p>
                    Cette pièce est donc fabriquée par une imprimante 3D avec des matériaux d'impression impermeable. Dans le centre CESI Labège, 
                    nous avons la possibilité de créer une telle pièce grâce au multiple imprimante que nous possédons. Ce produit peut même être modifié par CAO par 
                    nos soins pour qu'il répond le mieux possible à vos besoins.
                </p>
            </div>
            <div>
                <img src="/image/ultimaker.jpg" style="width: 700px">
            </div>
            <div class="col-1"></div>
        </div>
    </div>



    <div class="container text-center  py-3">
        <hr class="featurette-divider">
        <h2>Vous êtes intéressé ?</h2>
        <p>
            Nous vous proposons de remplir un formulaire de demande, cette demande sera par la suite transmise à notre équipe de projet. Ainsi, nous vous recontacterons pour en savoir plus sur vos besoins et préparer une commandes pour dans les plus brefs délais.
        </p>
        <p>
            <a href="{{ path('demandePage') }}" class="btn btn-lg btn-secondary">Formuler une demande</a>
        </p>
    </div>

</main>
