{# templates/Body/productPage.html.twig #}

<main role="main">

    <div class="jumbotron">
        <div class="container">
           <h1 class="display-4">Besoin d'un respirateur déployable rapidement</h1>
           <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>

    <div class="container text-center">
        <h2>Vous êtes intéressé ?</h2>
        <p>Nous vous proposons de remplir un formulaire de demande, cette demande sera par la suite transmise à notre équipe de projet. Ainsi, nous vous recontacterons pour en savoir plus sur vos besoins et préparer une commandes pour dans les plus brefs délais. </p>
        <p>
            <a href="#" class="btn btn-lg btn-secondary">Formuler une demande</a>
        </p>
    </div>

</main>
