{# templates/Footer/footer.html.twig #}


<footer class="row">
    <div class="container">
        
      <div style='align-items: center' class="row py-4">

        <div class="col-md text-light text-center">
          <h5><a class='text-light' href='#'>Contact</a></h5>
        </div>
        <div class="col-md text-light text-center">
          <h5><a class='text-light' href='{{ path('connectAdminPage') }}'>Espace Administrateur</a></h5>
        </div>
        <div class="col-md text-muted text-center">
          <h6>@2020 - AgainstCOVID-19 - CESI</h5>
        </div>

        <div class="col-md text-light py-4 text-center">
          <a class="btn btn-lg btn-light" href="#" role="button">Retour en haut</a>
        </div>

      </div>
    </div>
</footer>



<!--<footer style="; margin-left: 0 ; margin-right: 0" class="container py-5 bg-dark">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>-->