{# templates/Footer/footer.html.twig #}


<footer style='position: relative; bottom: 0; width: 100%; background-color: rgba(0, 0, 0, 0.95); margin-left: 0' class="page-footer row">
    <div class="container">
        
      <div class="row py-4">

        <div class="col-6 col-md text-light">
          <h5>Contact</h5>
          <ul class="list-unstyled text-small">
            <li>Tel : <a class="text-white" href="#">UN NUMERO</a></li>
            <li>E-mail : <a class="text-white" href="#">UNE ADRESSE E-MAIL</a></li>
            <li>Adresse : <a class="text-white" href="#">Team feature</a></li>
            <li><a class="text-white" href="#">Stuff for developers</a></li>
            <li><a class="text-white" href="#">Another one</a></li>
            <li><a class="text-white" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md text-light">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Resource</a></li>
            <li><a class="text-white" href="#">Resource name</a></li>
            <li><a class="text-white" href="#">Another resource</a></li>
            <li><a class="text-white" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md text-light">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Business</a></li>
            <li><a class="text-white" href="#">Education</a></li>
            <li><a class="text-white" href="#">Government</a></li>
            <li><a class="text-white" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md text-light">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Team</a></li>
            <li><a class="text-white" href="#">Locations</a></li>
            <li><a class="text-white" href="#">Privacy</a></li>
            <li><a class="text-white" href="#">Terms</a></li>
          </ul>
        </div>

        <div class="col-6 col-md text-light py-4 text-center">
          <a class="btn btn-lg btn-light" href="#" role="button">Retour en haut</a>
        </div>

      </div>
    </div>
</footer>



<!--<footer style="; margin-left: 0 ; margin-right: 0" class="container py-5 bg-dark">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>-->